CLAIMSMAN_ENV=dev
CLAIMSMAN_HOST=0.0.0.0
CLAIMSMAN_PORT=8811
CLAIMSMAN_LOG_LEVEL=info

CLAIMSMAN_POSTGRES_HOST=127.0.0.1
CLAIMSMAN_POSTGRES_PORT=55432
CLAIMSMAN_POSTGRES_DB=claimsman
CLAIMSMAN_POSTGRES_USER=claimsman
CLAIMSMAN_POSTGRES_PASSWORD=claimsman

CLAIMSMAN_OLLAMA_BASE_URL=http://127.0.0.1:11434
CLAIMSMAN_OLLAMA_DEFAULT_MODEL=gemma4:31b
